{
  "name": "{{ name }}",
  "displayName": "{{ display_name }}",
  "version": "{{ version }}",
  "description": "{{ description }}",
  "author": "{{ author }}",
  "unity": "{{ unity_version | default('2019.4') }}",
  "unityRelease": "{{ unity_release | default('0f1') }}",
  "keywords": {{ keywords | tojson }},
  "dependencies": {{ dependencies | tojson }},
  "type": "{{ package_type | default('library') }}"
  {%- if namespace %},
  "namespace": "{{ namespace }}"
  {%- endif %}
  {%- for key, value in extra_fields.items() %},
  "{{ key }}": {{ value | tojson }}
  {%- endfor %}
}
